<div class="alert alert-success" role="alert">
	We've registered your project <b>{{.githubUsername}}/{{.githubProject}}</b>.
</div>

<h3>The next steps</h3>

<p>
	Please add the webhook <b>http://{{.host}}/hook/{{.githubUsername}}/{{.githubProject}}</b> to your <a href="https://github.com/{{.githubUsername}}/{{.githubProject}}">github project</a>!
</p>